name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: First reverse test
      id: first-reverse-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: First reverse test
        setup-command: mvn compile
        command: mvn -Dtest=FirstTests#reverseTest test
        timeout: 1
        max-score: 1
    - name: First sort test
      id: first-sort-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: First sort test
        setup-command: mvn compile
        command: mvn -Dtest=FirstTests#sortTest test
        timeout: 1
        max-score: 1
    - name: Second reverse test
      id: second-reverse-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Second reverse test
        setup-command: mvn compile
        command: mvn -Dtest=SecondTests#reverseTest test
        timeout: 1
        max-score: 1
    - name: Second sort test
      id: second-sort-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Second sort test
        setup-command: mvn compile
        command: mvn -Dtest=SecondTests#sortTest test
        timeout: 1
        max-score: 1
    - name: Generic reverse test with integers
      id: generic-reverse-test-with-integers
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic reverse test with integers
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#reverseTestInteger test
        timeout: 1
        max-score: 1
    - name: Generic reverse test with strings
      id: generic-reverse-test-with-strings
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic reverse test with strings
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#reverseTestString test
        timeout: 1
        max-score: 1
    - name: Generic sort test with integers
      id: generic-sort-test-with-integers
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic sort test with integers
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#sortTestInteger test
        timeout: 1
        max-score: 1
    - name: Generic sort test with strings
      id: generic-sort-test-with-strings
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Generic sort test with strings
        setup-command: mvn compile
        command: mvn -Dtest=GenericTests#sortTestString test
        timeout: 1
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        FIRST-REVERSE-TEST_RESULTS: "${{steps.first-reverse-test.outputs.result}}"
        FIRST-SORT-TEST_RESULTS: "${{steps.first-sort-test.outputs.result}}"
        SECOND-REVERSE-TEST_RESULTS: "${{steps.second-reverse-test.outputs.result}}"
        SECOND-SORT-TEST_RESULTS: "${{steps.second-sort-test.outputs.result}}"
        GENERIC-REVERSE-TEST-WITH-INTEGERS_RESULTS: "${{steps.generic-reverse-test-with-integers.outputs.result}}"
        GENERIC-REVERSE-TEST-WITH-STRINGS_RESULTS: "${{steps.generic-reverse-test-with-strings.outputs.result}}"
        GENERIC-SORT-TEST-WITH-INTEGERS_RESULTS: "${{steps.generic-sort-test-with-integers.outputs.result}}"
        GENERIC-SORT-TEST-WITH-STRINGS_RESULTS: "${{steps.generic-sort-test-with-strings.outputs.result}}"
      with:
        runners: first-reverse-test,first-sort-test,second-reverse-test,second-sort-test,generic-reverse-test-with-integers,generic-reverse-test-with-strings,generic-sort-test-with-integers,generic-sort-test-with-strings
